html {
  scroll-behavior: smooth;
  background-color: #131313;
  cursor: none;
  font-family: "Noto Sans KR", sans-serif;
}

.contents {
  width: 100%;
  height: 100vh;
}

// font
@font-face {
  font-family: "Noto Sans KR";
  //src: local("NotoSansKR-Bold"), url("~assets/fonts/NotoSansKR-Bold.woff") format("woff");
  src: local("NotoSansKR-Bold"), url("../fonts/NotoSansKR-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  //src: local("NotoSansKR-Regular"), url("~assets/fonts/NotoSansKR-Regular.woff") format("woff");
  src: local("NotoSansKR-Regular"), url("../fonts/NotoSansKR-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KOTRA Bold";
  src: local("KOTRA_Bold"), url("../fonts/KOTRA_BOLD.otf") format("opentype");
  //src: local("KOTRA_Bold"), url("~/assets/fonts/KOTRA_BOLD.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MaruBuri";
  //src: local("MaruBuri-Bold"), url("~assets/fonts/MaruBuri-Bold.otf") format("opentype");
  src: local("MaruBuri-Bold"), url("../fonts/MaruBuri-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}