html, body, div, p, span, a, img, ol, ul, li, h1, h2 {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

div, ul, li, p, a, span {
    user-select: none;
}

h2 {
    font-size: 48px;
    line-height: 1.4em;
}

h4 {
    font-size: 24px;
}

.text-bold {
    font-weight: 700;
}