// marquee
$OFFSET: 20vh;
$MOVE_INITIAL: calc(0);
$MOVE_FINAL: calc(-50%);

// people-card-list
$CARD_COLUMNS: 18;
$CARD_ROWS: 9;

// image slider
$TOOL_BAR_SIZE: 70px;
$BUTTON_SIZE: 50px;

$MOBILE_TOOL_BAR_SIZE: 50px;
$MOBILE_BUTTON_SIZE: 40px;